html {
 background-color: #466273;   
}
body {
background-color: #9CD9FF;
width: 960px;
margin: 20px auto;
border-radius: 20px;
}
header {
    padding: 20px;
    text-align: center;
}
header img {
    display:block;
    margin: 20px auto;
    width: 30%
}

nav {
    background-color: #7CB7DB;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 28px;
    margin: 0 20px;
}

nav a:hover {
color:darkblue;
text-decoration: none;
}

main {
    padding: 20px;
}
main img {
    display: block;
    margin: 20px auto;
    width: 30%;
}
footer {
    background-color: #7CB7DB;
    text-align: center;
    padding:40px 0;
    border-radius: 0 0 20px 20px;
}
a {
    color: white;
}
a:hover {
    color:darkblue;
    text-decoration: none;
}
h1,
h2,
h3 {
    color: grey;


}